/* Style goes here */
html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(253, 192, 192), lightcoral);
}

body {
    text-align: center;
}

.container {
    display: inline-block;
    width: 41%;
    height: auto;
    margin: 4px;
    padding: 25px 0px 25px 0px;
    background-color: white;
    box-shadow: lightcoral 0 0 30px;
    /* Bounce animation intro */
    animation-name: bounce;
    animation-duration: 1s;
}

/* Bounce animation intro */
@keyframes bounce {

    0% {
        transform: translateY(-200%);
    }

    33% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Fade in animation intro */
@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

h1.headline {
    font-family: serif;
    font-size: 90px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: black;
    /* Fade in animation intro */
    animation-name: fade;
    animation-duration: 2s;

}

p#tasksDone {
    padding-bottom: 30px;
    font-family: Arial, Helvetica;
    font-size: 28px;
    text-shadow: black 0 0 1px;
    /* Fade in animation intro */
    animation-name: fade;
    animation-duration: 2s;
}

#addButton {
    font-family: Arial, Helvetica;
    font-size: 40px;
    text-shadow: black 0 0 1px;
    width: 100px;
    height: 64px;
    margin: 0 10px;
    background-color: rgb(255, 235, 235);
    padding: 0;
    border: 2px solid gray;
    border-radius: 5px;
    /* Fade in animation intro */
    animation-name: fade;
    animation-duration: 2s;
}

#addButton:hover {
    background-color: lightgray;

}

input {
    width: 40%;
    height: 60px;
    padding: 0px 6px;
    margin: 0;
    font-family: Arial, Helvetica;
    font-size: 40px;
    text-shadow: black 0 0 1px;
    border: 2px solid gray;
    border-radius: 5px;
    /* Fade in animation intro */
    animation-name: fade;
    animation-duration: 2s;
}

/* Blue border when inputbox is clicked */
input:focus {
    padding: 0px 6px;
    border-radius: 5px;
    border: 2px solid blue;
    outline: none;
}

#alert {
    font-family: helvetica;
    font-size: 28px;
    font-style: italic;
    color: red;
    text-shadow: red 0 0 1px;
    opacity: 100%;
    margin: 10px 0 50px 0;
}

/* Blinking red animation when alert message shows */
.alertAnimation {

    animation-name: alertOpacity;
    animation-duration: 1s;
}

@keyframes alertOpacity {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

li {
    font-family: Arial, Helvetica;
    font-size: 50px;
    text-align: center;
    text-shadow: black 0 0 1px;
    list-style-type: none;
    margin: 10px 25px 20px 0;
    padding: 0 0 0 0;
}

/* Fade effect when adding tasks */
.fadeInEffect {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in, transform 0.2s ease-in;
}

.fadeInEffect.show {
    opacity: 1;
    transform: translateY(0);
}

span {
    cursor: pointer;
    margin: 20px 5px 0 0;
}

span:hover {
    text-decoration: line-through;
}

.deleteButton {
    border: none;
    font-size: 50px;
    padding: 5px;
    margin-left: 10px;
    color: gray;
}

.deleteButton:hover {
    cursor: pointer;
    color: black;
}

/* Color animation when task is completed (clicked) */
.completed {
    transition: color 1s;
    color: gray;
    text-decoration-line: line-through;
}